* {
    box-sizing: border-box;
}

:root {
    --wrapper-bg-color: #fcf4d7;
}

html {
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

body {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.inter-bold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 2px;
    font-variation-settings:
        "slnt"0;
}

.container {
    width: 90%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 2rem 1rem 4rem;
    background-color: var(--wrapper-bg-color);
    background-image:
        linear-gradient(to right, #C8C8C8 2px, transparent 2px),
        linear-gradient(to bottom, #C8C8C8 2px, transparent 2px);
    background-size: 2rem 2rem;
    background-position: center center;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL'0,
        'wght'400,
        'GRAD'0,
        'opsz'24;
    font-size: 3.2rem;
    font-weight: 500;
}

header.banner {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    height: 8%;
    width: 80%;
    min-height: 45px;
    max-width: 850px;
    margin-top: .8rem;
    padding: 2.3rem 2rem 2rem;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
    outline: #7f664f solid 8px;
}

.name {
    font-size: 3.2rem;
    font-weight: 500;
}

.close {
    justify-self: flex-end;
    font-size: 2.8rem;
}

main {
    margin-top: 2.6rem;
    width: 70%;
    max-width: 710px;
    padding-bottom: 2.6rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 2.5rem;
    background-color: var(--wrapper-bg-color);
    border-radius: 5px;
    outline: #7f664f solid 8px;
    position: relative;
}

.circle {
    height: 75px;
    background-color: #ccd5ae;
    width: 100%;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.circle .one,
.circle .two {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    outline: #7f664f solid 8px;
    margin-left: 2rem;
    background-color: #f8cd4c;
}

.circle .two {
    margin-left: 2.4rem;
}

.php {
    position: absolute;
    right: -3rem;
    top: -7px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    background-color: #ccd5ae;
    color: #7f664f;
    font-size: 1.6rem;
    width: 120px;
    height: 50px;
    border-radius: 1.5rem;
    outline: #7f664f solid 4px;
    background-image: repeating-linear-gradient(45deg, #C0C0C0 10px, #C0C0C0 11px, transparent 11px, transparent 28px),
        repeating-linear-gradient(-45deg, #C0C0C0 10px, #C0C0C0 11px, transparent 11px, transparent 28px);
}

.php:after {
    content: "";
    display: inline-block;
    position: absolute;
    right: 3.5px;
    bottom: 0px;
    width: 20px;
    height: 13px;
    background-image: linear-gradient(135deg, transparent 1%, #ccd5ae 71%);
    box-shadow: 4px 4px 0px 0px #7f664f;
}

.intro,
.php-experience,
.java-experience,
.hobbies {
    background-color: #ccd5ae;
    position: relative;
    max-width: 90%;
    min-height: 15%;
    margin: 0 1.5rem;
    padding: .7rem 1.2rem;
    border-radius: .1rem;
    outline: #7f664f solid 8px;
}

.php-experience,
.hobbies {
    background-color: #e5edcd;
}

h2 {
    margin: 0;
}

p {
    width: 90%;
    max-width: 600px;
    text-align: center;
    color: #7f664f;
    font-weight: bold;
    margin: 0;
    margin-top: 10px;
    font-size: 1.2rem;
}

.java {
    position: absolute;
    right: -4rem;
    top: -3rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    background-color: #a5ad89;
    color: #7f664f;
    font-size: 2rem;
    width: 170px;
    height: 70px;
    border-radius: 3rem;
    outline: #7f664f solid 4px;
    background-image: repeating-linear-gradient(45deg, #A0A0A0 10px, #A0A0A0 11px, transparent 11px, transparent 28px),
        repeating-linear-gradient(-45deg, #A0A0A0 10px, #A0A0A0 11px, transparent 11px, transparent 28px);
}

.java:after {
    content: "";
    display: inline-block;
    position: absolute;
    background-image: linear-gradient(135deg, #a5ad89 90%, transparent 80%);
    left: 5px;
    bottom: 0px;
    width: 30px;
    height: 20px;
    box-shadow: -4px 4px 0px 0px #7f664f;
}

.icons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    outline: none;
    border-radius: 0;
    background-color: transparent;
    width: 90%;
    max-width: 600px;
    padding: .7rem 1.2rem;
}

.icons>a {
    display: block;
}

.icons>a:not(:first-child) {
    margin-left: 1rem;
}

.icons>a>img {
    width: 32px;
    height: 32px;
}

.icons>a>img.linked-in {
    width: 36px;
}

@media only screen and (max-width: 837px) {

    .name,
    .close,
    .search-icon {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    p {
        font-size: 1rem;
    }

    h2 {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 576px) {

    .search-icon,
    .name,
    .close {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 532px) {

    .php,
    .java {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    h2 {
        text-align: center;
    }
}


@media only screen and (max-width: 446px) {

    .search-icon,
    .name,
    .close {
        font-size: 1rem;
    }

    .name {
        text-align: center;
    }

    header.banner>div:not(:last-child) {
        padding-right: 1rem;
    }

    main {
        gap: 2rem;
    }
}

@media only screen and (max-width: 417px) {
    main, header.banner {
        width: 92%;
    }
    .cicle {
        justify-content: space-evenly;
    }
    header.banner {
        height: 5%;
    }

}